{% extends 'base.html.twig' %}

{% block title %}Hello Form!{% endblock %}

{% block body %}
<br><br><br><br>
Ajout d'une image dans une catégorie
{{ form_start(imageForm) }}

{{ form_label(imageForm.otherImages) }}
{{ form_errors(imageForm.otherImages) }}
{{ form_widget(imageForm.otherImages, {'attr': {'value': images } }) }}

{{ form_widget(imageForm) }}

<input type='submit' value='Ajouter une nouvelle image'>

{{ form_end(imageForm) }}

<br><br><br><br>
Ajout d'un article, avec choix d'images multiples.
{{ form_start(articleForm) }}

{{ form_label(articleForm.otherImages) }}
{{ form_errors(articleForm.otherImages) }}
{{ form_widget(articleForm.otherImages, {'attr': {'value': images } }) }}

{{ form_widget(articleForm) }}

<input type='submit' value='Créer un nouvel article'>

{{ form_end(articleForm) }}

<a href="{{path('design_gallery') }}">Go to gallery</a>
{% endblock %}