{% extends 'base.html.twig' %}

{% block title %}Hello Form!{% endblock %}

{% block body %}
<br><br><br><br>
Ajout d'une image dans une catégorie
{{ form_start(imageForm) }}

{{ form_widget(imageForm) }}

<input type='submit' value='Add image'>

{{ form_end(imageForm) }}

<br><br><br><br>
Ajout d'un article, avec choix d'images multiples.
{{ form_start(articleForm) }}

{{ form_widget(articleForm) }}

<input type='submit' value='Add image'>

{{ form_end(articleForm) }}

<a href="{{path('gallery_metallicDesign') }}">Go to gallery</a>
{% endblock %}