{% extends 'base.html.twig' %}

{% block title %}Création d'article - 1/2 -Amon Passage Secret{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('gallery') }}
{% endblock %}

{% block body %}

<h1> Création d'article</h1>
<h2> Étape 1/2 </h2>
<p> Veuillez sélèctionner une ou des image(s) </p>

{{ form_start(imageForm, {'attr': {'role': 'form'}}) }}

{{ form_label(imageForm.otherImages) }}
{{ form_errors(imageForm.otherImages) }}
{{ form_widget(imageForm.otherImages, {'attr': {'value': imageIds } }) }}

{{ form_widget(imageForm) }}

<input type='submit' id='keep-on-adding' formaction='/form/' value='Ajouter une nouvelle image et revenir ici'>
<p> OU </p>
<input type='submit' id='go-to-article' formaction='/article_form/'
value='Ajouter une nouvelle image et aller rédiger l&apos;article'
onclick="return confirm('Attention vous ne pourrez plus ajouter ou supprimer d\'images pendant la rédaction d\'un article.\nVoulez-vous poursuivre ?');">

{{ form_end(imageForm) }}

<br>
<hr>
<br>

<a href="{{path('design_gallery') }}">Retourner à la gallerie Design métallique</a>
{% for image in images %}
    <div class="image-container">
    <img class="gallery-img" src="{{ vich_uploader_asset(image, 'urlFile') }}" alt="{{ image.nom }} poster">
    </div>
    {{ include('form/_deleteImage.html.twig') }}
{% endfor %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('form') }} 
{% endblock %}
{% endblock %}