{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block title %}AMON - Home{% endblock %}

{% block body %}
    <section id='home'>
        <div class='container_home-menu' id="menu">
            <img id='home-logo' src="{{ asset('build/images/logo.svg')}}" alt="logo">
            <nav>
                <ul class="buttons">
                    <li class="button left"><a href="{{path ('design_index') }}"><img class="arrow" src="{{ asset('build/images/ArrowL.png')}}" alt="left"> Design métallique</a></li>
                    <li class="button right"><a href="{{path ('passage_index') }}">Passages secrets <img class="arrow" src="{{ asset('build/images/ArrowR.png')}}" alt="right"></a></li>
                </ul>
            </nav>
            <div class="container_button-bottom">
                <a class="button bottom" href="#societe" id="button-down">La société <img class="arrow" src="{{ asset('build/images/ArrowD.png')}}" alt="down"></a>
            </div>
        </div>
        <button class="login-button"><a href="{{path ('app_login') }}">Login</button></a>
    </section>
    <h1 class="section-title">La Société</h1>
    <section class='container_home-description'>
        <article class="description">
            <h2 class='title-desc' id="societe">Description</h2>
            <span class='text-desc'>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Quisque sodales sit amet orci quis gravida. Vestibulum congue elementum turpis,
                ut facilisis arcu ultrices sed. Nulla suscipit tortor ac semper bibendum.
                Cras tempus, libero eget placerat placerat, lorem urna mollis ipsum, sed ultrices ante lorem a massa.
                Nam pretium mauris at enim
            </span>
            <div class='image-desc'></div>
        </article>
        <article class="description">
            <div class='image-desc'></div>
            <h2 class='title-desc'>Description</h2>
            <span class='text-desc'>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Quisque sodales sit amet orci quis gravida. Vestibulum congue elementum turpis,
                ut facilisis arcu ultrices sed. Nulla suscipit tortor ac semper bibendum.
                Cras tempus, libero eget placerat placerat, lorem urna mollis ipsum, sed ultrices ante lorem a massa.
                Nam pretium mauris at enim
            </span>
        </article>
    </section>
    <div class="container_button-up">
        <a class="button up" href="#menu" id="button-up"><img class="arrow" src="{{ asset('build/images/ArrowU.png')}}" alt="up"></a>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}
