{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('passage') }}
{% endblock %}

{% block title %}Passages Secrets{% endblock %}

{% block body %}

    <h1 class="passage-title">Les Passages Secrets</h1>
    <section class="library">
        <div>
            <img class="images-passage" src="{{ asset('build/images/1.JPG') }}" alt="Photo bibliothèque">
            <img class="images-passage1 secret" src="{{ asset('build/images/2.JPG') }}" alt="Photo bibliothèque">
        </div>
        <div>
            <h2 class="passage-subtitle">La bibliothèque blindée</h1>
            <p class="passage-description">Duis consectetur eiusmod dolor magna aute cillum. Duis nisi magna ipsum nulla aute proident cillum.
                Aliqua incididunt sit excepteur nostrud tempor aliqua dolor esse consectetur consequat culpa exercitation
                duis. Velit ea consequat ut sint nostrud elit sunt.</p>
        </div>
        
        <a href="{{path('passage_gallery_category', {'categorie': 'bibliotheques'}) }}"><div class="passage-miniature">
                <p class="galery-title" >Galerie</p>
                <img class="images-miniature" src="{{ asset('build/images/1.JPG') }}" alt="Photo bibliothèque">
                <img class="images-miniature" src="{{ asset('build/images/2.JPG') }}" alt="Photo bibliothèque">
                <img class="images-miniature" src="{{ asset('build/images/1.JPG') }}" alt="Photo bibliothèque">
        </div></a>
    </section>
    <section class="mirror">
        <div>
            <h1 class="passage-subtitle">Le miroir secret</h1>
            <p class="passage-description">Duis consectetur eiusmod dolor magna aute cillum. Duis nisi magna ipsum nulla aute proident cillum.
                Aliqua incididunt sit excepteur nostrud tempor aliqua dolor esse consectetur consequat culpa exercitation
                duis. Velit ea consequat ut sint nostrud elit sunt.</p>
        </div>
        <div>
            <img class="images-passage mirror-image" src="{{ asset('build/images/1.JPG') }}" alt="Photo bibliothèque">
            <img class="images-passage secret2" src="{{ asset('build/images/2.JPG') }}" alt="Photo bibliothèque">
        </div>
        <a href="{{path('passage_gallery_category', {'categorie': 'miroirs'}) }}"><div class="passage-miniature miniature2">
                <p class="galery-title" >Galerie</p>
                <img class="images-miniature" src="{{ asset('build/images/1.JPG') }}" alt="Photo bibliothèque">
                <img class="images-miniature" src="{{ asset('build/images/2.JPG') }}" alt="Photo bibliothèque">
                <img class="images-miniature" src="{{ asset('build/images/1.JPG') }}" alt="Photo bibliothèque">
        </div></a>
    </section>
    <section class="tailor-made">
        <div>
            <img class="images-passage" src="{{ asset('build/images/1.JPG') }}" alt="Photo bibliothèque">
            <img class="images-passage secret" src="{{ asset('build/images/2.JPG') }}" alt="Photo bibliothèque">
        </div>
        <div>
            <h1 class="passage-subtitle">Pièces sur mesure</h1>
            <p class="passage-description">Duis consectetur eiusmod dolor magna aute cillum. Duis nisi magna ipsum nulla aute proident cillum.
                Aliqua incididunt sit excepteur nostrud tempor aliqua dolor esse consectetur consequat culpa exercitation
                duis. Velit ea consequat ut sint nostrud elit sunt.</p>
        </div>
    
        <a href="{{path('passage_gallery_category', {'categorie': 'sur-mesure'}) }}"><div class="passage-miniature">
                <p class="galery-title" >Galerie</p>
                <img class="images-miniature" src="{{ asset('build/images/1.JPG') }}" alt="Photo bibliothèque">
                <img class="images-miniature" src="{{ asset('build/images/2.JPG') }}" alt="Photo bibliothèque">
                <img class="images-miniature" src="{{ asset('build/images/1.JPG') }}" alt="Photo bibliothèque">
        </div></a>
    </section>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('passage') }}
{% endblock %}
