{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('passage') }}
{% endblock %}

{% block title %}Passages Secrets{% endblock %}

{% block body %}
    <h1 class="passage-title">Les Passages Secrets</h1>
    <section class="passage-intro">
            <p class="intro">
                L'aventure passage secret pour Amon commence avec un grand-père maçon qui réalisait chez lui
                de nombreux passages secrets, que ce soit pour un aspect pratique et dissimuler des biens
                ou simplement par pur plaisir. <br><br>
                Après être devenu Métallier chaudronnier, avoir fait de multiples entreprises, du grand groupe à 
                la petite entreprise artisanale, une conclusion simple en a découlé : l'envie de faire des 
                réalisations unitaires sur-mesure et surtout de qualité. Le passage secret est dès lors devenu 
                une évidence. <br><br>
                Nous réalisons de multiples projets dans des situations toutes aussi multiples (intérieur,
                extérieur, cave, neuf ou rénovation). L'idée est de s'adapter au mieux aux conditions du 
                chantier pour s'approcher au plus près du rêve du client. <br><br>
                Pour des raisons de confidentialité, nous ne pouvons présenter l'ensemble des réalisations.
            </p>
    </section>
    <section class="library">
        <div>
            <img class="images-passage" src="{{ asset('build/images/passages-secrets/ps-4.jpg') }}" alt="Photo bibliothèque" loading="lazy">
            <img class="images-passage1 secret" src="{{ asset('build/images/passages-secrets/ps-14.jpg') }}" alt="Photo bibliothèque" loading="lazy">
        </div>
        <div>
            <h2 class="passage-subtitle">La Bibliothèque</h1>
            <p class="passage-description">Un exemple de réalisation de passage secret est 
                forcément la bibliothèque, un grand classique du genre. La porte est incorporée dans l'ouvrage et 
                rien ne laisse paraître de son usage réel. <br><br>
                Nous dimensionnons les bibliothèques sur mesure afin que l'intégration se fasse parfaitement dans
                le volume de la pièce.
                Nous intégrons des systèmes de portes lourdes afin de faciliter l'usage de la porte (une porte 
                bibliothèque une fois remplie de livres peut dépasser les 300Kg) ainsi que la sécurité
                pour une utilisation en toute sérénité. <br><br>
                L'ouverture est choisie par le client, que ce soit mécanique ou électrique. Beaucoup de
                solutions amusantes et astucieuses existent.
                </p>
        </div>
        
        <a href="{{path('passage_gallery_category', {'categorie': 'bibliotheques'}) }}"><div class="passage-miniature">
                <p class="galery-title" >Galerie</p>
                <img class="images-miniature" src="{{ asset('build/images/passages-secrets/ps-5.jpg') }}" alt="Photo bibliothèque" loading="lazy">
                <img class="images-miniature" src="{{ asset('build/images/passages-secrets/ps-2.jpg') }}" alt="Photo bibliothèque" loading="lazy">
                <img class="images-miniature" src="{{ asset('build/images/passages-secrets/ps-6.jpg') }}" alt="Photo bibliothèque" loading="lazy">
        </div></a>
    </section>
    <section class="mirror">
        <div>
            <h1 class="passage-subtitle">Le Miroir secret</h1>
            <p class="passage-description">Un autre classique du passage secret, ou plutôt une cache d'arme dans ce cas,
                est le miroir motorisé. Le mécanisme étant invisible, il n'y a aucune possibilité d'imaginer son usage. <br><br>
                La cache d'arme est une solution esthétique et pratique afin de dissimuler des armes d'invités non 
                désirés, mais aussi et surtout des enfants. <br><br>
                Avec le porte-fusil ainsi que les coffres-forts intégrés pour le rangement des munitions, 
                vos armes à feu seront en sécurité.
            </p>
        </div>
        <div>
            <img class="images-passage mirror-image" src="{{ asset('build/images/passages-secrets/ps-7.jpg') }}" alt="Photo bibliothèque" loading="lazy">
            <img class="images-passage secret2" src="{{ asset('build/images/passages-secrets/ps-8.jpg') }}" alt="Photo bibliothèque" loading="lazy">
        </div>
        <a href="{{path('passage_gallery_category', {'categorie': 'miroirs'}) }}"><div class="passage-miniature miniature2">
                <p class="galery-title" >Galerie</p>
                <img class="images-miniature" src="{{ asset('build/images/passages-secrets/ps-9.jpg') }}" alt="Photo bibliothèque" loading="lazy">
                <img class="images-miniature" src="{{ asset('build/images/passages-secrets/ps-10.jpg') }}" alt="Photo bibliothèque" loading="lazy">
                <img class="images-miniature" src="{{ asset('build/images/passages-secrets/ps-12.jpg') }}" alt="Photo bibliothèque" loading="lazy">
        </div></a>
    </section>
    <section class="tailor-made">
            <h1 class="tailor-made-passage-subtitle">Pièces sur mesure</h1>
            <p class="tailor-made-description">La réalisation et la conception de passages secrets ne s'arrêtent pas
                aux portes dissimulées ou cloisons ouvrantes. Nous réalisons tous les projets proposés par les clients
                en fonction de l'endroit et des envies de ceux-ci. <br><br>
                L'innovation et l'envie de réaliser des ouvrages hors du commun sont les moteurs de l'entreprise.
                Nous analyserons toute demande faite en ce sens.
            </p>
            <img class="tailor-made-image-big" src="{{ asset('build/images/passages-secrets/ps-20.png') }}" alt="Mash-up de plans" loading="lazy">
            <img class="tailor-made-image-small" src="{{asset('build/images/passages-secrets/ps-21.png') }}" alt="Mash-up de plans" loading="lazy">
    </section>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('passage') }}
{% endblock %}
