{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('gallery') }}
{% endblock %}

{% block body %}
    <h1 id="gallery-title">Les Actualités</h1>
    {% for article in articles %}
    {{ article.titre }} <br>
    {{ article.description }}<br>
        {% for image in images %}
        <img src="{{ vich_uploader_asset(image, 'urlFile') }}" alt="{{ image.nom }} poster"><br><br>
        {% endfor %}
    {% endfor %}
{% endblock %}