{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('gallery') }}
{% endblock %}

{% block title %}{{ categorie|capitalize }}{% endblock %}

{% block body %}

<button id="categories-pop" >≡<span id="media-hidden"> Catégories</span></button>

<nav id="mySidenav" class="sidenav">
    <ul id="sn-linklist">
        <a href="#" class="sn-link" id="closebtn">&times;</a>
        <li class="sn-button"><a href="{{path('design_gallery_category', {'categorie': 'aménagement extérieur'}) }}" class="sn-link">Aménagement extérieur</a></li>
        <li class="sn-button"><a href="{{path('design_gallery_category', {'categorie': 'brise-vue et pare-soleil'}) }}" class="sn-link">Brise-vue et <br> pare-soleil</a></li>
        <li class="sn-button"><a href="{{path('design_gallery_category', {'categorie': 'décoration'}) }}" class="sn-link">Décoration</a></li>
        <li class="sn-button"><a href="{{path('design_gallery_category', {'categorie': 'escaliers'}) }}" class="sn-link">Escaliers</a></li>
        <li class="sn-button"><a href="{{path('design_gallery_category', {'categorie': 'garde-corps'}) }}" class="sn-link">Garde-corps</a></li>
        <li class="sn-button"><a href="{{path('design_gallery_category', {'categorie': 'trappes vitrées'}) }}" class="sn-link">Trappes vitrées</a></li>
        <li class="sn-button"><a href="{{path('design_gallery_category', {'categorie': 'verrières'}) }}" class="sn-link">Verrières</a></li>
        <li class="sn-button"><a href="{{path('design_gallery') }}" class="sn-link" id="all-categories">Toutes</a></li>
    </ul>
</nav>

<main>
    <h1 id="gallery-title">{{ categorie|capitalize }}</h1>
    {% for image in images %}
        <div class="image-container">
            <img class="gallery-img" src="{{ vich_uploader_asset(image, 'urlFile') }}" alt="{{ image.texteAlternatif }}" loading="lazy">
            <div class="button-container">
                {% if app.user %}
                    {{ include('form/_deleteImage.html.twig') }}
                {% endif %}
            </div>
        </div>
    {% endfor %}
</main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('gallery') }}
{% endblock %}