{% extends 'base.html.twig' %}

{% block title %}Hello MetallicGallery!{% endblock %}

{% block body %}
 this is metallic gallery <br>
 <a href="{{path('form') }}">Go to form</a><br>

 {% for image in images %}
 {{ image.nom }} <br>
 {{ image.categorie }}<br>
 <img src="{{ image.url }}" alt="{{ image.nom }} poster"><br>
 
 {% endfor %}


{% endblock %}
