{% extends 'base.html.twig' %}

{% block title %}Hello MetallicGallery!{% endblock %}

{% block body %}
 this is metallic gallery <br>
 <a href="{{path('form') }}">Go to form</a><br>
 <br>
<a href="{{path('gallery_metallicDesign_category', {'categorie': 'chats'}) }}">Go to cats</a>
<br>
<a href="{{path('gallery_metallicDesign_category', {'categorie': 'chiens'}) }}">Go to dogs</a>
<br>
<a href="{{path('gallery_metallicDesign') }}">All categories</a>
<br>


 {% for image in images %}
 {{ image.nom }} <br>
 {{ image.categorie }}<br>
 <img src="{{ image.url }}" alt="{{ image.nom }} poster"><br>
 
 {% endfor %}


{% endblock %}
