{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}
{% block title %}Hello MetallicGallery!{% endblock %}

{% block body %}
<br><br><br>
 this is metallic gallery <br>
 <a href="{{path('form') }}">Go to form</a><br>
 <br>
<a href="{{path('gallery_metallicDesign_category', {'categorie': 'Chats'}) }}">Go to cats</a>
<br>
<a href="{{path('gallery_metallicDesign_category', {'categorie': 'chiens'}) }}">Go to dogs</a>
<br>
<a href="{{path('gallery_metallicDesign_category', {'categorie': 'oiseaux'}) }}">Go to birds</a>
<br>
<a href="{{path('gallery_metallicDesign_category', {'categorie': '4'}) }}">Go to catégorie 4</a>
<br>
<a href="{{path('gallery_metallicDesign_category', {'categorie': '5'}) }}">Go to catégorie 5</a>
<br>
<a href="{{path('gallery_metallicDesign_category', {'categorie': '6'}) }}">Go to catégorie 6</a>
<br>
<a href="{{path('gallery_metallicDesign_category', {'categorie': '7'}) }}">Go to catégorie 7</a>
<br>
<a href="{{path('gallery_metallicDesign_category', {'categorie': '8'}) }}">Go to catégorie 8</a>
<br>
<a href="{{path('gallery_metallicDesign_category', {'categorie': '9'}) }}">Go to catégorie 9</a>
<br>
<a href="{{path('gallery_metallicDesign_category', {'categorie': '10'}) }}">Go to catégorie 10</a>
<br>
<a href="{{path('gallery_metallicDesign') }}">All categories</a>
<br><br><br>




 {% for image in images %}
 {{ image.nom }} <br>
 {{ image.categorie }}<br>
 <img src="{{ vich_uploader_asset(image, 'urlFile') }}" alt="{{ image.nom }} poster"><br>
 
 {% endfor %}


{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

