{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('design') }}
{% endblock %}

{% block title %}Design Métallique{% endblock %}

{% block body %}
{% for actu in actus %}
{{ actu.titre }}
    {% for image in actu.image %}
    <img src="{{ vich_uploader_asset(image, 'urlFile') }}" alt="{{ image.nom }} poster"><br><br>
    {% endfor %}
{% endfor %}

<h1 class="design-title">Design métallique</h1>
<div class="intro">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium fugiat voluptate odit illum.
  Provident natus voluptatibus odio rem incidunt dolore velit ea nostrum a neque. Dolore necessitatibus fuga cum praesentium.</p>
</div>
<main>
    <div class="left-column">

      <!-- first accordion-->
      <h2>Some category</h2>
      <div class="accordion">
          <div class="card">
            <a href="{{path('design_gallery_category', {'categorie': 'chats'}) }}"><img src="https://upload.wikimedia.org/wikipedia/commons/d/d6/Cat_plotting_something_evil%21.jpg"></a> 
          </div>
          <div class="card second-card">
            <a href="{{path('design_gallery_category', {'categorie': 'chats'}) }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/False_alarm_-a.jpg/1280px-False_alarm_-a.jpg"></a>
          </div>
          <div class="card third-card">
            <a href="{{path('design_gallery_category', {'categorie': 'chats'}) }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Neugierige-Katze.JPG/1280px-Neugierige-Katze.JPG"></a>
          </div>
          <div class="card fourth-card">
            <a href="{{path('design_gallery_category', {'categorie': 'chats'}) }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Al_acecho_%289272124788%29.jpg/1280px-Al_acecho_%289272124788%29.jpg"></a>
          </div>
      </div>
      
      <!-- second accordion-->
      <h2>Some category</h2>
      <div class="accordion">
        <div class="card">
          <a href="{{path('design_gallery_category', {'categorie': 'chiens'}) }}"><img src="https://img.ohmymag.com/article/cute/chow-chow_ed904cc18024955d258a3161a9cceef09d5e21a4.jpg"></a> 
        </div>
        <div class="card second-card">
          <a href="{{path('design_gallery_category', {'categorie': 'chiens'}) }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/False_alarm_-a.jpg/1280px-False_alarm_-a.jpg"></a>
        </div>
        <div class="card third-card">
          <a href="{{path('design_gallery_category', {'categorie': 'chiens'}) }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Neugierige-Katze.JPG/1280px-Neugierige-Katze.JPG"></a>
        </div>
        <div class="card fourth-card">
          <a href="{{path('design_gallery_category', {'categorie': 'chiens'}) }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Mimi%26Tigsi.jpg/1280px-Mimi%26Tigsi.jpg"></a>
        </div>
      </div>
      
      <!-- third accordion-->
      <h2>Some category</h2>
      <div class="accordion">
        <div class="card">
          <a href="{{path('design_gallery_category', {'categorie': 'oiseaux'}) }}"><img src="https://resize-parismatch.lanmedia.fr/r/940,628/img/var/news/storage/images/paris-match/actu/environnement/sauvons-les-oiseaux-1641139/26786981-1-fre-FR/Sauvons-les-oiseaux.jpg"></a>
        </div>
        <div class="card second-card">
          <a href="{{path('design_gallery_category', {'categorie': 'oiseaux'}) }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/False_alarm_-a.jpg/1280px-False_alarm_-a.jpg"></a>
        </div>
        <div class="card third-card">
          <a href="{{path('design_gallery_category', {'categorie': 'oiseaux'}) }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Al_acecho_%289272124788%29.jpg/1280px-Al_acecho_%289272124788%29.jpg"></a>
        </div>
        <div class="card fourth-card">
          <a href="{{path('design_gallery_category', {'categorie': 'oiseaux'}) }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Mimi%26Tigsi.jpg/1280px-Mimi%26Tigsi.jpg"></a>
        </div>
      </div>

      <!-- fourth accordion-->
      <h2>Some category</h2>
      <div class="accordion">
        <div class="card">
          <a href="{{path('design_gallery_category', {'categorie': '4'}) }}"><img src="https://upload.wikimedia.org/wikipedia/commons/d/d6/Cat_plotting_something_evil%21.jpg"></a>
        </div>
        <div class="card second-card">
          <a href="{{path('design_gallery_category', {'categorie': '4'}) }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Neugierige-Katze.JPG/1280px-Neugierige-Katze.JPG"></a>
        </div>
        <div class="card third-card">
          <a href="{{path('design_gallery_category', {'categorie': '4'}) }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Al_acecho_%289272124788%29.jpg/1280px-Al_acecho_%289272124788%29.jpg"></a>
        </div>
        <div class="card fourth-card">
          <a href="{{path('design_gallery_category', {'categorie': '4'}) }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Mimi%26Tigsi.jpg/1280px-Mimi%26Tigsi.jpg"></a>
        </div>
      </div>
          
      <!-- fifth accordion-->
      <h2>Some category</h2>
      <div class="accordion">
        <div class="card">
          <a href="{{path('design_gallery_category', {'categorie': '5'}) }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/False_alarm_-a.jpg/1280px-False_alarm_-a.jpg"></a>
        </div>
        <div class="card second-card">
          <a href="{{path('design_gallery_category', {'categorie': '5'}) }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Neugierige-Katze.JPG/1280px-Neugierige-Katze.JPG"></a>
        </div>
        <div class="card third-card">
          <a href="{{path('design_gallery_category', {'categorie': '5'}) }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Al_acecho_%289272124788%29.jpg/1280px-Al_acecho_%289272124788%29.jpg"></a>
        </div>
        <div class="card fourth-card">
          <a href="{{path('design_gallery_category', {'categorie': '5'}) }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Mimi%26Tigsi.jpg/1280px-Mimi%26Tigsi.jpg"></a>
        </div>
      </div>
    </div>

    <div class="right-column">
      <!-- sixth accordion-->
      <h2>Some category</h2>
      <div class="accordion">
        <div class="card">
          <a href="{{path('design_gallery_category', {'categorie': '6'}) }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/False_alarm_-a.jpg/1280px-False_alarm_-a.jpg"></a>
        </div>
        <div class="card second-card">
          <a href="{{path('design_gallery_category', {'categorie': '6'}) }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Neugierige-Katze.JPG/1280px-Neugierige-Katze.JPG"></a>
        </div>
        <div class="card third-card">
          <a href="{{path('design_gallery_category', {'categorie': '6'}) }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Al_acecho_%289272124788%29.jpg/1280px-Al_acecho_%289272124788%29.jpg"></a>
        </div>
        <div class="card fourth-card">
          <a href="{{path('design_gallery_category', {'categorie': '6'}) }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Mimi%26Tigsi.jpg/1280px-Mimi%26Tigsi.jpg"></a>
        </div>
      </div>
    
      <!-- seventh accordion-->
      <h2>Some category</h2>
      <div class="accordion">
        <div class="card">
          <a href="{{path('design_gallery_category', {'categorie': '7'}) }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/False_alarm_-a.jpg/1280px-False_alarm_-a.jpg"></a>
        </div>
        <div class="card second-card">
          <a href="{{path('design_gallery_category', {'categorie': '7'}) }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Neugierige-Katze.JPG/1280px-Neugierige-Katze.JPG"></a>
        </div>
        <div class="card third-card">
          <a href="{{path('design_gallery_category', {'categorie': '7'}) }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Al_acecho_%289272124788%29.jpg/1280px-Al_acecho_%289272124788%29.jpg"></a>
        </div>
        <div class="card fourth-card">
          <a href="{{path('design_gallery_category', {'categorie': '7'}) }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Mimi%26Tigsi.jpg/1280px-Mimi%26Tigsi.jpg"></a>
        </div>
      </div>

      <!-- eigth accordion-->
      <h2>Some category</h2>
      <div class="accordion">
        <div class="card">
          <a href="{{path('design_gallery_category', {'categorie': '8'}) }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/False_alarm_-a.jpg/1280px-False_alarm_-a.jpg"></a>
        </div>
        <div class="card second-card">
          <a href="{{path('design_gallery_category', {'categorie': '8'}) }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Neugierige-Katze.JPG/1280px-Neugierige-Katze.JPG"></a>
        </div>
        <div class="card third-card">
          <a href="{{path('design_gallery_category', {'categorie': '8'}) }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Al_acecho_%289272124788%29.jpg/1280px-Al_acecho_%289272124788%29.jpg"></a>
        </div>
        <div class="card fourth-card">
          <a href="{{path('design_gallery_category', {'categorie': '8'}) }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Mimi%26Tigsi.jpg/1280px-Mimi%26Tigsi.jpg"></a>
        </div>
      </div>

      <!-- ninth accordion-->
      <h2>Some category</h2>
      <div class="accordion">
        <div class="card">
          <a href="{{path('design_gallery_category', {'categorie': '9'}) }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/False_alarm_-a.jpg/1280px-False_alarm_-a.jpg"></a>
        </div>
        <div class="card second-card">
          <a href="{{path('design_gallery_category', {'categorie': '9'}) }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Neugierige-Katze.JPG/1280px-Neugierige-Katze.JPG"></a>
        </div>
        <div class="card third-card">
          <a href="{{path('design_gallery_category', {'categorie': '9'}) }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Al_acecho_%289272124788%29.jpg/1280px-Al_acecho_%289272124788%29.jpg"></a>
        </div>
        <div class="card fourth-card">
          <a href="{{path('design_gallery_category', {'categorie': '9'}) }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Mimi%26Tigsi.jpg/1280px-Mimi%26Tigsi.jpg"></a>
        </div>
      </div>

      <!-- tenth accordion-->
      <h2>Some categorie</h2>
      <div class="accordion">
        <div class="card">
          <a href="{{path('design_gallery_category', {'categorie': '10'}) }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/False_alarm_-a.jpg/1280px-False_alarm_-a.jpg"></a>
        </div>
        <div class="card second-card">
          <a href="{{path('design_gallery_category', {'categorie': '10'}) }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Neugierige-Katze.JPG/1280px-Neugierige-Katze.JPG"></a>
        </div>
        <div class="card third-card">
          <a href="{{path('design_gallery_category', {'categorie': '10'}) }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Al_acecho_%289272124788%29.jpg/1280px-Al_acecho_%289272124788%29.jpg"></a>
        </div>
        <div class="card fourth-card">
          <a href="{{path('design_gallery_category', {'categorie': '10'}) }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Mimi%26Tigsi.jpg/1280px-Mimi%26Tigsi.jpg"></a>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('design') }}
{% endblock %}