{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('design') }}
{% endblock %}

{% block title %}Design Métallique{% endblock %}

{% block body %}

<h1 class="design-title">Design métallique</h1>

<div class="container">
  <h3 class="carousel_actu">
    Actualités
  </h3>
	<div class="carousel">
		<input type="radio" id="carousel-1" name="carousel[]" checked>
		<input type="radio" id="carousel-2" name="carousel[]">
    <input type="radio" id="carousel-3" name="carousel[]">
    <ul class="carousel__items">
      <a href="{{path('actuality') }}#gallery-title">
        {% for actu in actus %}
        <li class="carousel__item">
          <h3 class="carousel_title">
            {{ actu.titre }}
          </h3>
          <img src="{{ vich_uploader_asset(actu.image.0, 'urlFile') }}" alt="{{ actu.image.0.nom }} poster">
          </li> 
        {% endfor %}
      </a>
		</ul>
    <div class="carousel__prev">
    <label for="carousel-1"></label>
    <label for="carousel-2"></label>
    <label for="carousel-3"></label>
    </div>
    <div class="carousel__next">
      <label for="carousel-1"></label>
      <label for="carousel-2"></label>
      <label for="carousel-3"></label>
    </div>
    <div class="carousel__nav">
      <label for="carousel-1"></label>
      <label for="carousel-2"></label>
      <label for="carousel-3"></label>
    </div>
  </div>
</div>

<div class="intro">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium fugiat voluptate odit illum.
  Provident natus voluptatibus odio rem incidunt dolore velit ea nostrum a neque. Dolore necessitatibus fuga cum praesentium.</p>
</div>
<main>
    <div class="left-column">

      <!-- first accordion-->
      <h2>Aménagement extérieur</h2>
      <div class="accordion">
          <div class="card">
            <a href="{{path('design_gallery_category', {'categorie': 'aménagement extérieur'}) }}"><img src="{{ asset('build/images/amenagement-exterieur/ae-1.png') }}"></a> 
          </div>
          <div class="card second-card">
            <a href="{{path('design_gallery_category', {'categorie': 'aménagement extérieur'}) }}"><img src="{{ asset('build/images/amenagement-exterieur/ae-11.jpg') }}"></a>
          </div>
          <div class="card third-card">
            <a href="{{path('design_gallery_category', {'categorie': 'aménagement extérieur'}) }}"><img src="{{ asset('build/images/amenagement-exterieur/ae-4.jpg') }}"></a>
          </div>
          <div class="card fourth-card">
            <a href="{{path('design_gallery_category', {'categorie': 'aménagement extérieur'}) }}"><img src="{{ asset('build/images/amenagement-exterieur/ae-6.jpg') }}"></a>
          </div>
      </div>
      
      <!-- second accordion-->
      <h2>Brise-vue et Pare-soleil</h2>
      <div class="accordion">
        <div class="card">
          <a href="{{path('design_gallery_category', {'categorie': 'brise-vue pare-soleil'}) }}"><img src="{{ asset('build/images/brise-vue-pare-soleil/bvps-2.jpeg') }}"></a> 
        </div>
        <div class="card second-card">
          <a href="{{path('design_gallery_category', {'categorie': 'brise-vue pare-soleil'}) }}"><img src="{{ asset('build/images/brise-vue-pare-soleil/bvps-9.jpg') }}"></a>
        </div>
        <div class="card third-card">
          <a href="{{path('design_gallery_category', {'categorie': 'brise-vue pare-soleil'}) }}"><img src="{{ asset('build/images/brise-vue-pare-soleil/bvps-11.jpg') }}"></a>
        </div>
        <div class="card fourth-card">
          <a href="{{path('design_gallery_category', {'categorie': 'brise-vue pare-soleil'}) }}"><img src="{{ asset('build/images/brise-vue-pare-soleil/bvps-12.jpg') }}"></a>
        </div>
      </div>
      
      <!-- third accordion-->
      <h2>Décoration</h2>
      <div class="accordion">
        <div class="card">
          <a href="{{path('design_gallery_category', {'categorie': 'décoration'}) }}"><img src="{{ asset('build/images/decoration/deco-1.jpg') }}"></a>
        </div>
        <div class="card second-card">
          <a href="{{path('design_gallery_category', {'categorie': 'décoration'}) }}"><img src="{{ asset('build/images/decoration/deco-3.jpg') }}"></a>
        </div>
        <div class="card third-card">
          <a href="{{path('design_gallery_category', {'categorie': 'décoration'}) }}"><img src="{{ asset('build/images/decoration/deco-5.jpg') }}"></a>
        </div>
        <div class="card fourth-card">
          <a href="{{path('design_gallery_category', {'categorie': 'décoration'}) }}"><img src="{{ asset('build/images/decoration/deco-8.jpg') }}"></a>
        </div>
      </div>

      <!-- fourth accordion-->
      <h2>Escaliers</h2>
      <div class="accordion">
        <div class="card">
          <a href="{{path('design_gallery_category', {'categorie': 'escaliers'}) }}"><img src="{{ asset('build/images/escaliers/escalier-9.jpg') }}"></a>
        </div>
        <div class="card second-card">
          <a href="{{path('design_gallery_category', {'categorie': 'escaliers'}) }}"><img src="{{ asset('build/images/escaliers/escalier-13.jpg') }}"></a>
        </div>
        <div class="card third-card">
          <a href="{{path('design_gallery_category', {'categorie': 'escaliers'}) }}"><img src="{{ asset('build/images/escaliers/escalier-14.jpg') }}"></a>
        </div>
        <div class="card fourth-card">
          <a href="{{path('design_gallery_category', {'categorie': 'escaliers'}) }}"><img src="{{ asset('build/images/escaliers/escalier-20.jpg') }}"></a>
        </div>
      </div>
    </div>

    <div class="right-column">
      <!-- sixth accordion-->
      <h2>Garde-corps</h2>
      <div class="accordion">
        <div class="card">
          <a href="{{path('design_gallery_category', {'categorie': 'garde-corps'}) }}"><img src="{{ asset('build/images/garde-corps/gc-1.jpg') }}"></a>
        </div>
        <div class="card second-card">
          <a href="{{path('design_gallery_category', {'categorie': 'garde-corps'}) }}"><img src="{{ asset('build/images/garde-corps/gc-2.jpg') }}"></a>
        </div>
        <div class="card third-card">
          <a href="{{path('design_gallery_category', {'categorie': 'garde-corps'}) }}"><img src="{{ asset('build/images/garde-corps/gc-3.jpg') }}"></a>
        </div>
        <div class="card fourth-card">
          <a href="{{path('design_gallery_category', {'categorie': 'garde-corps'}) }}"><img src="{{ asset('build/images/garde-corps/gc-4.jpg') }}"></a>
        </div>
      </div>
    
      <!-- seventh accordion-->
      <h2>Trappes vitrées</h2>
      <div class="accordion">
        <div class="card">
          <a href="{{path('design_gallery_category', {'categorie': 'trappes vitrées'}) }}"><img src="{{ asset('build/images/trappes-vitrees/tm-1.jpg') }}"></a>
        </div>
        <div class="card second-card">
          <a href="{{path('design_gallery_category', {'categorie': 'trappes vitrées'}) }}"><img src="{{ asset('build/images/trappes-vitrees/tm-3.jpg') }}"></a>
        </div>
        <div class="card third-card">
          <a href="{{path('design_gallery_category', {'categorie': 'trappes vitrées'}) }}"><img src="{{ asset('build/images/trappes-vitrees/tm-5.jpg') }}"></a>
        </div>
        <div class="card fourth-card">
          <a href="{{path('design_gallery_category', {'categorie': 'trappes vitrées'}) }}"><img src="{{ asset('build/images/trappes-vitrees/tm-9.jpg') }}"></a>
        </div>
      </div>

      <!-- eigth accordion-->
      <h2>Verrières</h2>
      <div class="accordion">
        <div class="card">
          <a href="{{path('design_gallery_category', {'categorie': 'verrières'}) }}"><img src="{{ asset('build/images/verrieres/verriere-1.jpg') }}"></a>
        </div>
        <div class="card second-card">
          <a href="{{path('design_gallery_category', {'categorie': 'verrières'}) }}"><img src="{{ asset('build/images/verrieres/verriere-2.jpg') }}"></a>
        </div>
        <div class="card third-card">
          <a href="{{path('design_gallery_category', {'categorie': 'verrières'}) }}"><img src="{{ asset('build/images/verrieres/verriere-3.jpg') }}"></a>
        </div>
        <div class="card fourth-card">
          <a href="{{path('design_gallery_category', {'categorie': 'verrières'}) }}"><img src="{{ asset('build/images/verrieres/verriere-4.jpg') }}"></a>
        </div>
      </div>

      <!-- ninth accordion-->
      <h2>Passages secrets</h2>
      <div class="accordion">
        <div class="card">
          <a href="{{path('passage_gallery', {'categorie': 'passages secrets'}) }}"><img src="{{ asset('build/images/passages-secrets/ps-2.jpg') }}"></a>
        </div>
        <div class="card second-card">
          <a href="{{path('passage_gallery', {'categorie': 'passages secrets'}) }}"><img src="{{ asset('build/images/passages-secrets/ps-6.jpg') }}"></a>
        </div>
        <div class="card third-card">
          <a href="{{path('passage_gallery', {'categorie': 'passages secrets'}) }}"><img src="{{ asset('build/images/passages-secrets/ps-7.jpg') }}"></a>
        </div>
        <div class="card fourth-card">
          <a href="{{path('passage_gallery', {'categorie': 'passages secrets'}) }}"><img src="{{ asset('build/images/passages-secrets/ps-8.jpg') }}"></a>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('design') }}
{% endblock %}