{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('gallery') }}
{% endblock %}

{% block body %}

    <h1 id="gallery-title">Les Actualités</h1>
{% for article in articles %}
	{{ article.titre }}
	<div class="article-button-container">
		{% if app.user %}
		<form method="post" action="{{ path('actuality_edit', {'id': article.id}) }}">
			<input type="hidden" name="_method" value="EDIT">
			<input type="hidden" name="_token" value="{{ csrf_token('edit' ~ article.id) }}">
			<button class="edit-article-button"></button>
		</form>
			{{ include('form/_deleteArticle.html.twig') }}
		{% endif %}
	</div>
	<br>
	{{ article.description }}<br>
	{% for image in article.image %}
		<div class="image-container">
			<img class="gallery-img" src="{{ vich_uploader_asset(image, 'urlFile') }}" alt="{{ image.nom }} poster"><br><br>
		</div>
	{% endfor %}

{% endfor %}


{% endblock %}
