<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('design') }}
    {% endblock %}
</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="navbar_left">
                <li class="actu">
                    Actualités
                </li>
                <li class="separator">
                    <img src="{{asset('build/images/vertical-line.png') }}" alt="">
                </li>
                <li class="design">
                <a href="{{asset('gallerie-design-metallique') }}">Design métallique</a> 
                </li>
            </ul>
            <div class="logo-navbar">
                <a href="{{path('home') }}"><img src="{{ asset('build/images/logo-navbar.png') }}" alt="Le logo de la société Amon" width="100%" title="Aller à l'accueil"></a> 
            </div>
            <ul class="navbar_right">
                <li class="passages">
                    <a href="{{asset('passage') }}">Passages secrets</a>
                </li>
                <li class="separator">
                    <img src="{{asset('build/images/vertical-line.png') }}" alt="">
                </li>
                <li class="contact">
                    <a href="{{asset('home/contact') }}">Contact</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="content">
        {% block body %}{% endblock %}
    </div>
    <footer class="footer">
            <p>©2020-2021 Amon-creation.fr - Tous droits réservés</p>
            <p><a href="{{path('home') }}">Mentions légales</a></p>
    </footer>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('design') }}
{% endblock %}
</body>
</html>
