{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('actuality') }}
{% endblock %}

{% block body %}

    <h1 id="gallery-title">Les Actualités</h1>
    {% for article in articles %}
    <div class="article-date">
      <p> {{ article.date|date("d/m/Y") }}</p>
    </div>
    <div class="article-container">
      <div class="article-content">
      
        <div class="image-grid">
          
          <a href="https://picsum.photos/id/1/200/300.png">
          <img src="https://picsum.photos/id/1/200/300.png"></a>

          {% for image in article.image %}
            <div class="article-image">
              <a href="{{ vich_uploader_asset(image, 'urlFile') }}">
              <img class="actuality-img" src="{{ vich_uploader_asset(image, 'urlFile') }}" alt="{{ image.nom }} poster">
              </a>
            </div>
          {% endfor %}
        </div>

        <div class="article-text">
          <h1 class="article-title">{{ article.titre|capitalize }}</h1>
          <p class="article-text">{{ article.description }}</p>
        </div>

        {#<div class="lightbox">
          <button class="lightbox__close">Fermer</button>
          <button class="lightbox__next">Suivant</button>
          <button class="lightbox__prev">Précédent</button>
          <div class="lightbox__container">
            <img src="">
          </div>
        </div>#}



      </div>
    {{ include('form/_deleteArticle.html.twig') }}
    </div>
    {% endfor %}

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('actuality') }}
{% endblock %}